<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memo.mine">

    <application
        android:name="com.memo.base.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CoreTheme">
        <activity
            android:name=".ui.activity.HostActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.collect.ArticleCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.collect.WebsiteCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.coin.CoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.rank.RankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.share.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.square.SquareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.notify.NotifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.todo.TodoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.todo.TodoEditActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>